The contents of this course including lectures, labs, homework assignments, and exams have all been adapted from the [Data 8 course at University California Berkeley](https://data.berkeley.edu/education/courses/data-8). Through their generosity and passion for undergraduate education, the Data 8 community at Berkley has opened their content and expertise for other universities to adapt in the name of undergraduate education.

# Review Chapters 1 - 2

1. Describe the data science life cycle

<font color='blue'>Double click then replace this sentence with your answer so it will be blue.</font>

2. Does association imply causation? Why or why not? Give an example to support your conclusion.

<font color='blue'>Double click then replace this sentence with your answer so it will be blue.</font>

3. What is an observational study?

<font color='blue'>Double click then replace this sentence with your answer so it will be blue.</font>

4. What is a treatment and what is an outcome?

<font color='blue'>Double click then replace this sentence with your answer so it will be blue.</font>

5. What is a confounding variable? Give and example on confounding variables.

<font color='blue'>Double click then replace this sentence with your answer so it will be blue.</font>

6. What is a single, double, and triple blind experiment?

<font color='blue'>Double click then replace this sentence with your answer so it will be blue.</font>

# Chapter 3: Programming in Python

- Python is popular for both data science and software development. 
- Learning the Python language fundimentals are essential for your sucess. 
- If you want more practice you can complete free Python courses in [DataCamp](https://www.datacamp.com/) and/or [Code Academy](https://www.codecademy.com/).

## Words of Caution ##
- Run the cell below. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code.

### Let's start running some code!

In [1]:
#!pip install datascience -q
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python mathematic basics
- Below are some basic mathmatical expressions you can perform in Python

In [2]:
# Addition
2 + 9

11

In [3]:
# Subtraction
2 - 9

-7

In [4]:
# Multiplication
2 * 9

18

In [5]:
# Division
2 / 9

0.2222222222222222

In [6]:
# Order of operations
2 + 3 * 9

29

In [7]:
# Order of operations
(2 + 3) * 9

45

In [8]:
# Remainder
7 % 3

1

In [9]:
# Remainder
9 % 3

0

In [10]:
# Exponential
# two to the power of four: 2^4 == 2 * 2 * 2 * 2
2 ** 4

16

## Assignment Statements
- Statements do not have a value.  They perform an action
- An assignment statement changes the meaning of the name on the left of the = symbol
- The assigned name is bound to the assigned value  **(not an equation)**

### Back to running code

In [11]:
a = 4
a
print(a)

4

In [12]:
a

4

In [13]:
b = 9

In [14]:
b

9

In [15]:
a * 3

12

In [16]:
total = a + b

In [17]:
total

13

In [18]:
a = 10

In [19]:
total

13

In [20]:
total = a + b

In [21]:
total

19

In [22]:
# If it is in "" or '' it is a string and not a variable
'total'

'total'

### Why Names?

In [24]:
hours_per_week = 40
weeks_per_year = 52

In [25]:
hours_per_year = hours_per_week * weeks_per_year

In [26]:
hours_per_year

2080

In [27]:
# Federal minimul wage is $7.25 per hour
fed_hourly_minimum_wage = 7.25

In [28]:
weekly_wages = hours_per_week * fed_hourly_minimum_wage
weekly_wages

290.0

In [29]:
yearly_wages = hours_per_year * fed_hourly_minimum_wage
yearly_wages

15080.0

In [30]:
40 * 7.25

290.0

In [31]:
40 * 52 * 7.25

15080.0

## Functions and Call Expressions
- function wraps the argument.
- function(argument)
- function(first_argument, second_argument, etc.)

### Back to coding

In [32]:
abs(-5)

5

In [33]:
abs(1 - 3)

2

In [34]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [35]:
min(14, 15, -10, 50, 100)

-10

In [36]:
round(123.456)

123

In [37]:
round(123.456, -1)

120.0

In [38]:
round(123.456, ndigits=3)

123.456

## Tables
- A table is a convientient way to store and manipulate data
- A table has a sequence of labled columns
- Each row of a table represents a individual value of the column
- Pandas library is the table library of choice in Python (data tables is the choice in R)
- This class will teach Data Tables, a simplified version of Pandas devloped at the University of Berekely
- Data Tables is very functional and can be used outside of the class as more user-friendly version of Pandas

<img src="Table_labels.png" style="width: 300px;"/>

### Data Science package documentation

- [Data Science package documentation](http://data8.org/datascience/index.html)
- [Data Table documentation](http://data8.org/datascience/tables.html)

### Let's look at tables

In [39]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [40]:
cones.show(3)

In [41]:
cones.show()

In [42]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [43]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [44]:
f = 'Flavor'

In [45]:
cones.select(f, 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [46]:
cones_no_price = cones.drop('Price')
cones_no_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [47]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [48]:
cones_without_price = cones.drop('Price')
cones_without_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [49]:
cones.where('Flavor', ('strawberry'))

Flavor     | Color | Price
strawberry | pink  | 3.55
strawberry | pink  | 5.25

In [50]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [51]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [52]:
cones.sort('Flavor', descending=True)

Flavor     | Color       | Price
strawberry | pink        | 3.55
strawberry | pink        | 5.25
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

### A more interesting table

In [53]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

name                              | material  | city          | height | completed
One World Trade Center            | composite | New York City | 541.3  | 2014
Willis Tower                      | steel     | Chicago       | 442.14 | 1974
432 Park Avenue                   | concrete  | New York City | 425.5  | 2015
Trump International Hotel & Tower | concrete  | Chicago       | 423.22 | 2009
Empire State Building             | steel     | New York City | 381    | 1931
Bank of America Tower             | composite | New York City | 365.8  | 2009
Stratosphere Tower                | concrete  | Las Vegas     | 350.22 | 1996
Aon Center                        | steel     | Chicago       | 346.26 | 1973
John Hancock Center               | steel     | Chicago       | 343.69 | 1969
WITI TV Tower                     | steel     | Shorewood     | 329    | 1962
... (190 rows omitted)

In [54]:
skyscrapers.where('city', 'Denver')

name                                    | material  | city   | height | completed
Republic Plaza                          | steel     | Denver | 217.63 | 1984
1801 California Plaza                   | steel     | Denver | 216.11 | 1982
Wells Fargo Center                      | composite | Denver | 212.75 | 1983
Four Seasons Hotel & Private Residences | concrete  | Denver | 194.75 | 2010

In [55]:
skyscrapers.where('name', 'Empire State Building')

name                  | material | city          | height | completed
Empire State Building | steel    | New York City | 381    | 1931

In [56]:
skyscrapers.where('city', 'New York City').sort('completed')

name                    | material | city          | height | completed
Metropolitan Life Tower | steel    | New York City | 213.36 | 1909
Woolworth Building      | steel    | New York City | 241.4  | 1913
Chanin Building         | steel    | New York City | 197.8  | 1929
Mercantile Building     | steel    | New York City | 192.6  | 1929
Chrysler Building       | steel    | New York City | 318.9  | 1930
The Trump Building      | steel    | New York City | 282.55 | 1930
One Grand Central Place | steel    | New York City | 205.13 | 1930
Empire State Building   | steel    | New York City | 381    | 1931
Twenty Exchange         | steel    | New York City | 225.86 | 1931
500 Fifth Avenue        | steel    | New York City | 212.45 | 1931
... (63 rows omitted)

In [59]:
skyscrapers.sort('height', descending=True)

name                              | material  | city          | height | completed
One World Trade Center            | composite | New York City | 541.3  | 2014
Willis Tower                      | steel     | Chicago       | 442.14 | 1974
432 Park Avenue                   | concrete  | New York City | 425.5  | 2015
Trump International Hotel & Tower | concrete  | Chicago       | 423.22 | 2009
Empire State Building             | steel     | New York City | 381    | 1931
Bank of America Tower             | composite | New York City | 365.8  | 2009
Stratosphere Tower                | concrete  | Las Vegas     | 350.22 | 1996
Aon Center                        | steel     | Chicago       | 346.26 | 1973
John Hancock Center               | steel     | Chicago       | 343.69 | 1969
WITI TV Tower                     | steel     | Shorewood     | 329    | 1962
... (190 rows omitted)

# Chapter 4: Data Types

## Integers and Floats
+ Python has two real number types:
    * int: an integer
    * float: a number with an optional fractional part
- An ***int*** never has a decimal point
- A ***float*** always has a decimal and may be represented in scientific notation
- ***float*** values have some limitations
    * They have limited size (but limit is very large)
    * They have limited precision (15 -16 decimal places)
    * Last few decimals may be wrong do to rounding errors

- Float combined with an integer is always a float
- Any division (float or integer) is a float
- Very large and small floats are displayed in scientific notation
- Type function ***type()*** is used to find the number type

### Lets give it a try

In [60]:
4 * 5

20

In [61]:
type(20)  # int

int

In [62]:
20 / 3  # float

6.666666666666667

In [63]:
type(20 / 2)

float

In [64]:
1234 ** 5

2861381721051424

In [65]:
type(1234 ** 5)

int

In [66]:
123456789 ** 1234

8501231189087579600089751361553790268770349244703297428875589625722666467029941104939346554618071090198338783086373718576302438541333303880149260355204961854660219348723703108817202816413695269234965947705916615090621461642947014634336709271250452147953400166273260278848909785635002746194627726905574383510586443855838501016194842546617466128367893005423946615632150875808229800489923121719324872322046242350358131209328011811786949525196068003065158218919856058009730366652388266762742312727811381080096679122681705212621121694449552467004319038040278415300031865815686537893832036302381576784433617023034776696420714876144485434646470579451349932122786555312581410798435527766468171805917233861943182867785949421920388024490545080852578054799518628169776648400272207657901368826628263954152902385783150069479202174698194137926647193941464878985158866033603990897827957922316614328503432155899763729601975377581454913801778657241584312797743187104615112990826170240576951377437889267043522178249238593031641469549941494342759976108330779190218175412454748751926927383394413538931340595895207489380533100158406056151193717830291989516050792698599824001271625788286400083430435996225870286728426044234538211907415368581834395718465999600878488008607312853910299621718948349669855888836854252419288825696064212121647849551877875083738702829751411930599999622761621401447136127241509252032463327323070454207230975720060696828143799024367860147672207189531148445363579822690090247426809033888593346224400489864273919166242548023881535680191207682155376847968733347385604276041283073347228803815405279998112938547949111103674653832147687792102357868703111192396677366147456000088224345337686711034275719530447049014275259015225178167345787860419429746163578689112295374153342313643102860000043435063407095232225814912427371973655639573401225553397831763058803538321076134083815415808878801086989396808453086722759516791817007120094624007835769308392692512292076325216213400980105527561077936336304777689856279268528402220160062365065232332591377102473934204006130311988805188979219655541468478726919818964117814118792374862057769846985070125485535437404289927188615185691222316241621215766939710853896856813203062169027816260494177289049365381215927091498601917056060292413725363696411243333025412074745992523902361942775529526536373496738092824403787110436969853611291705542181465577860684356486366860656165512948151524933949786531146417170299635082603757569302823079309642165775339529350073334016536451546540101287343407519182886572705773752090361182764058820258039372684336875330193457187912610800811194846692844413250373790522436208281266107102797113360495590669276174666003140785418373792534074610572841949732698528501261527844158885908948457093379372805804839434654279671107358129161157542389885838451898730060682856993779392841932975136525458784109035840416983298605830506319573271130742050796746857088239476285125701191400037072451731684223974010566859507243715790643657351235859756336513849858202588873634540023879638374295951524136236923423671632288707799796254804534131404379431231204837024857385154005913719311686092928666434917434354477753061030585428817582406313947343323157529985612660681069043858038046579763847037562570547171440108195495366373958169243521224322956620783733349921065284787807945332261864322729817303151806498733348746037759221592204992833243474043011524957764893686560384098274570957300202261186252832958713676112057045040733644861358757896798944561785532803162367117322209902786366770185404104429801771112839955437055146806182689958073760306881639356780211743597322337707273020574672167834903012765163624007144211187468411542572963939660561108419475949395174963273413868852896440947424344992179718533116562699371740484706235433706366240569083524185430700469547308694857964159760700105671073001697330585529109121954741220576828524401723676757794795250083720950267587758171582501191501189637061958522207031367402612571734076441860674863814099909712130609708832863842680889265436019725367744101582454551569091979679402651954509598343981143344994024597129576527297449562174131960128341530909092632992001197144131236990528338873298678869553075209034043170992884449709029653566942008795413009270598751643823365272644494325074303521000550383539517161018722764697822086046405563680718131405792201823465582572438557456336286618410630318761812534387255321583672541646660962378801475251590166471466595258572158876046780792443577415200699819116816418271779150023325969827619668356385379492002839104719856567779948453993844186649714112183836256341312617615482430806958408238575908083762936896619234237776772177583159411023017504636095926857331555009746884320121739186130195270017824024543589427772233432983995687775589752856045849787752136728977672421047044616632815386399888296637700670466401959263236561582055778310157915470795145143796474746725370125947980275952922826108308467662042757684610567756146778339591309122209612268095258943366473761985897845055573273671724348548111948847379270386151942239409617923808520510216097802516678970040346980188629443715890930465463804492890211575470612830497028489147272192585685947796464545671963309049439258226873022205625709886668321373234244538080578360227498200648921276375417069081994650310855296691342660962147412307971339042024827405215076215739687361592800757818100677910903440952002286261610473948573453158231294083861144427334581930023810856063221538294930635014609130296973666667250400981564887676855397430415734620826642403239301737465365417336571401497355640018224265552528893856056521264468754259331309642279938999221903924272554971643852022011765947996212275421355829319833800328694415760470248441144112841871615527949567756625459528865177363760130737703504794132062456639099091337141843043572787978733434533767453243181864529530929934401760870432704557779849641423060741199004298604891642184264851178483341038511090722342118873498635737236513496645110435204599001192882345052148291893842746068818312240423860644772035686748207737937330731621572971700220581785018809135077118524157304642073960556985963276791286503519409401480367890088946361913781598819528053807824965631154067173643125103000019765896220170024014812342911173525749157697106521016854161257203523551539146282300370830977932461995240936491993635236903476374429789840395960375345964220770757740813788095016860025483170158351625008006789547501818953994047994918103675713213055967165384541604370431719729029540602763131661822887630690333465610033516515270697981295995776262959098948330585272660656116144967043969319660080776468003023689115985109243276062032314681910559853467564899656051147313316756842800810181868551222821480948679861163616172872803379733777573623808254369599685925204412819323875134478075963684161339050209936379061691033728923807475379415465383025557131060414658886176518426741514818489971200170225002785660981724657558948045769491628137308892224722090788609018498931641698349882126634530850124893008580057089031262692083463530715246539201336162343861003837177762709976164318071419708304774305664605227779130500290518760514487016040637183163730234198931327443230999593434886642032992814007487335032806974334314990662466625794888753011718986752189306642732138825853045557198359478493270993059784423790507239915335903398454260951414810668775167179806613918334466769567939609524474423632422141023039679879483408186345079632030424648847689809026711978081947903438392563709001125646893456021779329424424779391528111421469044606843018300876897395445253306890783761645221940056043388634123454588562306648298749455465977490994025174143753890716103766476979322281404578206477815990052749373250814491832851401070336784979513392325916209262885168692951437735907647072682733715902663075844281947906218641163705685395625799623292587670381081867593848818401532773950884647720702232756097645658920981343899421959357485709585505642079957307512728772215176970128993781357535088567880197542751827341139496635440210208317403228610798745224471360337944308550142133138286140336310210850089257101302693168879798276317068290928736257745653176186634263625371050768240096814085244914326618850585890836001384575901572218127873576262084578014910630523386001475565908224331383474802859023718719809018774147780237944047759978503648153192059539387669322736137970901270986925571309053202739919849451419989108352494436091493296836597733009962614962179159515434257716856173580148874002318298867398237987853860624691033672798285297799458631626290930743534995014732949479703154773215759707098072956386620819003127062648282710469678832752591863293231815729342871660619327557813453247774415659664487688398388095064059490423294993680724278374893719707121254981307094206136913986007896643600161482658832611193920247780934685992417914322966559683642055990954449127160573199392785726754635905855890063412382560973517981021050866306970467833416093939036735381065118352779372161346180266532169488697592826225229385373913274120218966809788862391276736910500922056220340985502760020115819638073740142247532804189017916769440211768994106186308752573719640071345233546773059430518424802367019060759411971955555783765928607321193807028182756584732165717947363836080443779104166099782053802892628426215105575437380575443970807930406429163847227208533516658172008981465870536417992534247869119054571725907031834192238976492462505188434925894284571802135891728461342192904519589748852378897993698002054987272239157980707384539293328406316786051257031276357363596121261371194514622932562625671032070170342014101299531464179007267091513529777800064039808987054298298686823438306885272747323730018071591283348858301520324446652833200656025652139439018968767445890277163242883795493226841395882873453066890758393808352377348137064155139165313796843738357495546901771274019801674136096948056418764420940226231277775442295382059919190325369174324707812524303352519068027684868978718371087463218055693256066300632651127553795883044234715579987402265384978881813429005659612240390356325241

In [67]:
4 / 700

0.005714285714285714

In [68]:
4 / 700000000000000000

5.714285714285714e-18

In [69]:
0.12345678901234567890123456789

0.12345678901234568

In [71]:
0.12345678901234567890123456789 - 0.12345678901234567894

0.0

In [72]:
10 ** 0.5

3.1622776601683795

In [73]:
16 ** 0.5

4.0

In [74]:
(10 ** 0.5) ** 2

10.000000000000002

In [75]:
(10 ** 0.5) ** 2 - 10

1.7763568394002505e-15

In [76]:
int(20 / 10)

2

In [77]:
float(3)

3.0

In [78]:
x = 5

In [79]:
type(x)

int

In [80]:
2x

SyntaxError: invalid syntax (Temp/ipykernel_13052/207285602.py, line 1)

In [81]:
2 * x

10

## Strings
- Text of any length represendted in a computer is a ***string***
- Strings can be represented with "" or ''

In [82]:
"Regis Rangers"

'Regis Rangers'

In [83]:
'Regis Rangers'

'Regis Rangers'

In [84]:
"Regis" + 'Rangers'

'RegisRangers'

In [85]:
'Regis ' + 'Rangers'

'Regis Rangers'

In [86]:
'Regis' + ' ' + 'Rangers'

'Regis Rangers'

In [89]:
'Why won't this work?'

"Why won't this work?"

- Strings can be converted to numbers and vice versa

In [90]:
'12'

'12'

In [91]:
type('12')

str

In [92]:
int('12')

12

In [93]:
type(int('12'))

int

In [94]:
type(float('12'))

float

In [95]:
int('twelve')

ValueError: invalid literal for int() with base 10: 'twelve'

In [96]:
str(12)

'12'

In [99]:
# Loss of information!
int(1.9)

1

In [98]:
# Loss of information!
int(round(1.9))

2

- What is wrong with the following statements?

In [100]:
x = 3
y = '4'
z = '5.6'

In [101]:
# 1
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [102]:
# 2
x + int(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [103]:
# 3
str(x) + int(y)

TypeError: can only concatenate str (not "int") to str

In [104]:
int('5')

5

In [105]:
# 4 
int(y) + float(z)

9.6

- There are a number of string methods which are functions that opperate on strings
- These methods are called by placing a dot after the string then calling the function
- [String Documentation](https://docs.python.org/3/library/string.html)

In [106]:
'regis'.upper()

'REGIS'

In [107]:
'regis'.replace('e', 'an').replace('is', 'er').upper()

'RANGER'

## Comparisons

- Boolean (true false) values
- True == True == 1
- False == False == 0
- Strings can be compared
    - Order is alphabetical then string length (shorter string is less)

<img src="boolean_comparisons.png">

In [108]:
3 < 1

False

In [109]:
3 > 1

True

In [110]:
2 <= 2

True

In [111]:
 5 == 5

True

In [112]:
True == False

False

In [113]:
True != False

True

In [114]:
x = 12
y = 5
min(x, y) <= (x+y)/2 <= max(x, y)

True

In [115]:
5 + 5 == 10

True

In [116]:
"Dog" > "Catastrophe" > "Cat"

True

In [117]:
"cat" == 'cat'

True

In [123]:
False == 0

True

### All done!